h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: normal;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1em 0 0.5em;
  text-align: center;
}

h3 {
  font-weight: 500;
  margin: 1em 0 0.5em;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

h5 {
  opacity: 0.6;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1.05rem;
}
